# Env
NODE_ENV = Complete with nodeJs enviroment - example 'development'

# Port
PORT = Complete with port

# Log
LOG_LEVEL = Complete with level logger


# Mogo-Database
DATABASE_URL = Complete with url Database

# auth Token
AUTH_SECRET = Complete with key
AUTH_TTL = Complete with time to live token